:root, main {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

main {
    position: relative;
    min-height: 96vh;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: white;
    background: url("../images/bg-pattern-top-mobile.svg") no-repeat top right, url("../images/bg-pattern-bottom-mobile.svg") no-repeat bottom right;
    background-clip: border-box;
    font-family: 'Spartan', sans-serif;
    color: hsl(303, 10%, 53%);
}

#site-holder {    
    display: grid;
    grid-template-areas: 
    "info"
    "ratings"
    "reviews";
    gap: 30px;
    padding: 50px 20px 20px 20px;
}

/* Info */
#info {
    grid-area: info;
    text-align: center;
}

h1 {
    color: hsl(300, 43%, 22%);
}

#info p {
    font-weight: 500;
    font-size: 15px;
    line-height: 1.7em;
    text-align: center;
}
/* End Info */

/* Ratings */
#ratings{
    grid-area: ratings;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.rating-holder {
    background-color: hsl(300, 24%, 96%);
    border-radius: 8px;
    width: 100%;
    padding: 15px 0 5px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.rating-holder > p {
    color: hsl(300, 43%, 22%);
    font-weight: 600;
}

.rating {
    display: flex;
    flex-direction: row;
    gap: 12px;
}
/* End Ratings */

/* Reviews */
#reviews {
    grid-area: reviews;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 20px 0;
}

.review-holder {
    background-color: hsl(300, 43%, 22%);
    border-radius: 8px;
    display: grid;
    grid-template-columns: 100px auto auto;
    grid-template-areas:
    "avatar name name"
    "avatar name name"
    "review review review";
    padding: 30px;
}

.avatar {
    grid-area: avatar;
    border-radius: 50%;
    width: 70px;
    align-self: center;
}

.name-holder {
    grid-area: name;
    text-align: left;
    line-height: 0.5em;
}

.name {
    color: hsl(300, 24%, 96%);
    font-weight: 600;
}

.status {
    color: hsl(333, 80%, 67%);
}

.review {
    grid-area: review;
    color: hsl(300, 24%, 96%);
    line-height: 1.7em;
}
/* End Reviews */

footer {
    position: absolute;
    bottom: 10px;
    width: 100%;
    font-size: 11px;
    text-align: center;
}

footer a {
    color: hsl(228, 45%, 44%);
}

@media (min-width: 721px) {
    body {
        background: url("../images/bg-pattern-top-desktop.svg") no-repeat top left, url("../images/bg-pattern-bottom-desktop.svg") no-repeat bottom right;
    }

    #site-holder {
        grid-template-columns: 50% auto;
        grid-template-areas: 
        "info ratings"
        "reviews reviews";
    }

    h1 {
        font-size: 40px;
    }

    #info {
        text-align: left;
    }

    #info p {
        text-align: left;
    }

    #ratings {
        align-items: flex-end;
    }

    .rating-holder {
        max-width: 400px;
    }
}

@media (min-width: 1200px) {
    #site-holder {
        padding: 50px 40px;
    }

    #info {
        max-width: 500px;
    }

    .rating-holder {
        width: 80%;
        max-width: 500px;
        flex-direction: row;
        padding: 5px 20px;
        gap: 30px;
    }

    .rating {
        gap: 8px;
        padding: 0 10px;
    }

    #reviews {
        flex-direction: row;
        height:95%;
        margin-top: 60px;
        gap: 30px;
    }

    .rating-holder:nth-child(1), .review-holder:nth-child(1) {
        align-self: flex-start;
    }

    .rating-holder:nth-child(2), .review-holder:nth-child(2) {
        align-self: center;
    }

    .rating-holder:nth-child(3), .review-holder:nth-child(3) {
        align-self: flex-end;
    }

    footer {
        bottom: -4vh;
        height: 2em;
    }
}